@import '../../../assets/assets.scss';

.sideNav{
    max-width: 316px;
    width: 16.46vw;
    min-width: 270px;
    &__contents{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
        &-inbox, &-trash{
            width: 13.4375vw;
            min-width: 250px;
            height: 55px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left{
                margin-left: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $inactive-tab-text;
                .trash{
                    width: 15px;
                    height: 15px;

                }
                .email{
                    width: 15px;
                    height: 12px;
                }
                &>p{
                    margin-left: 12.04px;
                }
            }
            &-items{
                margin-right: 24px;
                color: $shiny-blue;
            }
        }
    }
}
.selected{
    color: $dark-blue;
    background-color: rgba(186, 232, 232, 0.37);
}
.selectedP{
    color: $dark-blue;
}

@media only screen and (max-width: 1187px) {
    .sideNav{
        max-width: 50px;
        min-width: 50px;
        width: 50px;
        &__contents{
            width: 49px;
            &-inbox, &-trash{
                width: 49px;
                min-width: 49px;
                display: flex;
                align-items: center;
                justify-content: center;
                &-left{
                    margin: 0;
                    &>p{
                        display: none;
                    }
                }
                &-items{
                    display: none;
                }
            }
        }
    }
}