@import '../../../assets/assets.scss';
.sideNav{
    max-width: 316px;
    // height: calc(100vh - 77px);
    &__contents{
        border: 1px solid red;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
        &-inbox, &-trash{
            width: 13.4375vw;
            height: 55px;
            border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left{
                display: flex;
                align-items: center;
                .trash{
                    width: 15px;
                    height: 15px;
                }
                .email{
                    width: 15px;
                    height: 12px;
                }
                &>p{
                    color: $inactive-tab-text;
                    margin-left: 12.04px;
                    border: 1px solid red;
                }
            }
        }
    }
}