.main{
    // width: calc(100vw - 3px);
    // height: calc(100vh - 77px);
    background-color: #FFFFFF;
    display: flex;

    &__sideNav{
        width: 16.46vw;
        border-right: 1px solid #E8F1F1;
    }
    &__emailFeed{
        width: 22.19vw;
    }
    &__emailContent{
        border-left: 1px solid #E8F1F1;
        // width: 61.35vw;
    }
}