@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-primary: 'Roboto', sans-serif;

//primary colors
$shiny-blue : #57C5C5;
$light-blue : #8C9CB1;
$dark-blue: #1B3D51;

//secondary colors
$inbox-inactive : #F5FCFC;
$white: #FFFFFF;
$inbox-mail-border: #E8F1F1;
$inactive-tab-text: #BCC6CC;